$black : #121212; $darkBlue : #19202D; $white : #FFFFFF; $grey100 : #E7EAEE; $grey200: hsl(0, 0%, 81%); $grey400: hsl(224, 10%, 45%); $grey500: hsl(217, 19%, 35%); $purple50: hsl(260, 100%, 95%); $purple300: hsl(264, 82%, 80%); $purple500: hsl(263, 55%, 52%); $spacing4: 4px; $spacing8: 8px; $spacing16: 16px; $spacing24: 24px; $spacing32: 32px; $spacing40: 40px; @mixin tablet{ @media (min-width: 768px){ @content } }; @mixin desktop{ @media (min-width: 1024px){ @content } }



*{
    box-sizing: border-box;
}

body{
    background-color: $grey100;
    
}

main {
  max-width: 305px;
  margin: auto;

  @media screen and (min-width: 431px) {
    max-width: 415px; 
  }

  @include tablet {
    max-width: none;
    padding:5%;
    display: grid;
    column-gap: $spacing32;
  }

  @include desktop{
    grid-template-columns: repeat(4, 1fr);
     grid-template-rows: auto auto; 
    row-gap: $spacing16;
  }
}

.card{
  padding:$spacing32;
  font-family: 'Barlow Semi Condensed', 'Courier New', Courier, monospace;
  margin-bottom: $spacing32;
  border-radius: $spacing8;

  @include desktop{
    margin-bottom: $spacing8;
  }

  figcaption.author{
    display: flex;

    img{
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      margin-right: $spacing16;
    }

    h2{
      margin: 0;
      font-size: 13px;
      font-weight: normal;
    }

    span{
      font-size: 11px;
    }
  }

  blockquote{
    margin: 0;

    p{
      font-size: 13px;
      line-height: 140%;
    }
  }

  p.highlight{
    display: inline-block;
    margin: $spacing16 0;
    font-size: 20px;
    font-weight:600;
    line-height: 120%;
  }
}

.daniel{
  background-color: hsl(263, 55%, 52%);
  color: #FFFFFF;

  @include tablet {
    grid-column: span 2;
  }
  @include desktop{
     grid-column: 1 / 3; // colonne 1-2
    grid-row: 1;
  }
}

.jonathan{
  background-color: $grey500;
  color: #FFFFFF;
   @include desktop {
    grid-column: 3;
    grid-row: 1;
  }
}

.jeanette{
  background-color: #FFFFFF;
  color:$grey500;
  @include desktop {
    grid-column: 1;
    grid-row: 2;
  }
}

.patrick{
  background-color: $darkBlue;
  color: #FFFFFF;

  @include tablet {
    grid-column: span 2;
  }
  @include desktop{
   grid-column: 2 / 4; // colonne 2-3
    grid-row: 2;
  }
}

.kira{
  background-color: #FFFFFF;
  color:$grey500;

  @include tablet {
    grid-column: 4;
    grid-row: 1 / 3;
  }
}

